*{
    margin: 0;
    padding: 0;
}
.header_container{
    /* background-color: #5A74F5; */
    background-color: #00A2D0;
    box-shadow: 0 2px 2px #00A2D0;
    position: relative;
    z-index: 1;
}

.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    align-items: center;
    
}

.header_logo{
    width: 60px;  
    margin: 9px;
}

.header_links{
    display: none;
}

.hamburger_icon{
    width: 24px;
    height: 24px;
    margin-right: 22px;
}

.mobile_menu{
    padding: 80px 40px;
    background-color: #F6F5F5;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;

    display: none;
    flex-direction: column;
    justify-content: center;
}

.mobile_menu > .links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_name{
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color:#00A2D0;
    font-family: 'Lato', sans-serif;
    margin-bottom: 34px;
    font-family: 'Balsamiq Sans', cursive;

    z-index: 1000;
    
}

.close-mobile-menu_icon{
    position: absolute;
    width: 24px;
    top: 26px;
    right: 24px;
}

.mobile-menu_logo{
    position: absolute;
    /* width: 60px; */
    /* top: 9px; */
    /* left: 9px; */
    
    /* bottom: 40px; */
    width: 390px;
    opacity: 0.04;
    z-index: 100;
}

@media only screen and (min-width: 700px) {
    .header_links{
        display: flex;
        align-items: center;
    }

    .link_name{
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 36px;
        color: white;
        font-family: 'Lato', sans-serif;
        text-shadow: 1px 1px 1px #000000;
        margin-bottom: 0;
    }

    .link_name_bold{
        /*font-weight: 600;
        text-shadow: 2px 1px 2px #000000*/
    
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        padding: 33px 0;
        border-radius: 5px;
        
    }

    .header_logo{
        width: 80px;
    }

    .hamburger_icon{
        display: none;
    }


    
}

@media only screen and (min-width: 900px) {
    .link_name{
        font-size: 24px;    
    }

    .link_name_bold{
        
        padding: 30px 0;
        
        
    }
}

/* -------------------footer----------------------- */

.footer_container{
    background-color: #474D4F;
}

.footer_content{
    padding: 60px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.footer_content_left{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.footer_content_center{
    display: flex;
    margin-bottom: 30px;
}

.footer_content_right{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

@media only screen and (min-width: 760px) {

    .footer_content{
        max-width: 1240px;
        margin: auto;
        padding: 60px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    

    .footer_content_right{
    
        
        align-items: flex-end;
        
    }

    .footer_content_left{
        margin: 0;
    }

    .footer_content_center{
        margin: 0;
    }

   

    .footer_link{
        
        
        font-size: 16px;
        text-shadow: 1px 1px 2px #000000;
        margin: 0 30px 10px 0;
        font-weight: 500;
    }

    .footer_text{
        
        font-size: 16px;
        text-shadow: 1px 1px 2px #000000;
        margin: 0 30px 10px 0;
        font-weight: 500;
    }

    .footer_donacije{
        margin: 0 45px 10px 0;
    }

    /* .social_media{
        margin: 0 75px 0 0;
    } */

}

.footer_text{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    /* text-shadow: 1px 1px 2px #000000; */
    margin: 0 0 10px 0;
    font-weight: 500;
}

.social_media{
    display: flex;
    
   
}

.footer_content-column{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 50%;
}

.footer_link{
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 15px;
    /* text-shadow: 1px 1px 2px #000000; */
    margin: 0 30px 10px 0;
    font-weight: 500;
}

.footer_link:hover{
    text-shadow: 2px 1px 2px #000000;
}

.footer_logo{
    width: 50px;
    margin: 0 5px;
}

.footer_donacije{
    color: #474D4F;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000000;
    margin: 0 0 10px 0;
    font-weight: 600;
    background-color: white;
    border-radius: 20px;
    width: 140px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
}

.footer_donacije:hover{   
    box-shadow: 1px 1px 6px #000000;
    cursor: pointer;
}

.donacije_card{
    position: absolute;
    display: none;
}

.width{
    width: 100% !important;
    box-shadow: 1px 1px 4px #000000 !important;
}

.close_button{
    width: 12px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 13px;
    padding: 5px;  
}



@media only screen and (min-width: 700px) {

    .footer_content-column{
        width: unset;
    }
}

@media only screen and (min-width: 860px) {
    .footer_text{
        font-size: 18px;
        text-shadow: 1px 1px 2px #000000; 
        font-weight: 500;
    }

    .footer_link{
        font-size: 18px;
        text-shadow: 1px 1px 2px #000000;
        font-weight: 500;
    }
} 

.donacije_card-info{
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(61, 70, 76, 0.08), 0 2px 16px 0 rgba(0, 47, 80, 0.05);
    /* width: 20%; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
}

.close_button_donacije{
    right: 14px;
}

@media only screen and (min-width: 700px) {
    .donacije_card-info{
        width: 85%;
    }

    .close_button_donacije{
        right: -4px;
    }
}

@media only screen and (min-width: 960px) {
    .donacije_card-info{
        width: 90%;
    }

    .close_button_donacije{
        right: -16px;
    }
}

@media only screen and (min-width: 1200px) {
    .donacije_card-info{
        width: 100%;
    }

    .close_button_donacije{
        right: -41px;
    }
}