body, html {
    
    height: 100%;
    
}

.hero_image{
    width: 100%;
    background-image: url("./Images/main_picture1-cutted.JPG");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (min-width: 400px) {
    .hero_image{
        height: 50%;
    }
}

@media only screen and (min-width: 500px) {
    .hero_image{
        height: 60%;
    }
}

@media only screen and (min-width: 600px) {
    .hero_image{
        height: 65%;
    }
}

@media only screen and (min-width: 700px) {
    .hero_image{
        height: 75%;
    }
}

@media only screen and (min-width: 800px) {
    .hero_image{
        height: 85%;
    }
}

@media only screen and (min-width: 900px) {
    .hero_image{
        height: 90%;
    }
}
@media only screen and (min-width: 1000px) {
    .hero_image{
        background-image: url("./Images/main_picture.png");
        height: 90%;
    }
}

.outer_container{
    width: 100%;
}

.main_container {
    
    margin: auto;
    padding: 40px 20px;
}

.main_container-cards{
    margin: auto;
    padding: 40px 20px 20px;
}

.page_title{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 2;
    color: #2042ec;
    
    font-family: 'Balsamiq Sans', cursive;
}

.section_one{
    display: flex;
    flex-direction: column-reverse;

    
}

.section_one-text{
    margin-top: 30px;
}

.bible-verse{
    display: flex;
    flex-direction: column;
}

.bible-verse:first-child{
    margin-bottom: 18px;
}

.bible-verse>.bible-verse-title{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin:0 0 8px;
}

.bible-icon{
    width: 16px;
    height: 19px;
    margin-right: 10px;
}

.bible-text-title{
    font-size: 17px;
    color: #5C5C5C;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.bible-text{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #5C5C5C;
}

.bible-verse-desktop{
    display: none;
}

@media only screen and (min-width: 600px) {
    .section_one-text{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }

    .bible-verse{
        width: 45%;
    }

    .bible-text-title{
        font-size: 18px;
    }

    .bible-text{
        font-size:16px;
    }

}

.section_one-video{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe{
    box-shadow: 1px 0px 4px #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;  
}

@media only screen and (min-width: 700px) {

    .main_container {
        max-width: 1240px;
        margin: auto;
        padding: 80px 20px;
    }

    .section_one-text{
        
        font-size: 20px;
        font-weight: 500;
          
    }
 
}

@media only screen and (min-width: 852px) {

    .section_one-video{
        width: 800px;
         margin: auto;
         padding-top: 46.25%;
    }

    .section_one-text{
        font-size: 24px;
        font-weight: 500;
        margin-right: 100px;  
        
        width: 800px;
        margin: auto;
        margin-top: 60px; 
    }

}

@media only screen and (min-width: 1271px) {
    
    .section_one{
        display: flex;
        flex-direction: row;
    
    }

    .iframe{
        box-shadow: 1px 0px 4px #000000;
        width: 560px; 
        height: 315px;
        position: relative;
    }

    .section_one-text{
        font-size: 24px;
        font-weight: 500;
        margin-right: 100px;  
        margin-top: 0px; 
        flex-direction: column;
    }

    .bible-verse{
        width: 100%;
        margin-bottom: 20px
    }

    .bible-text-title{
        font-size: 20px;
    }

    .bible-text{
        font-size: 18px;
    }

    .bible-verse-desktop{
        display: block;
    }

    .section_one-video{
        padding-top: 0;
        overflow: unset;
        /* width: 100%; */
    }

}

.outer_container-grey{
    width: 100%;
    background-color: #F6F5F5;
    
}

/* mobile cards-----------------------------------------------------------------*/
@media only screen and (min-width: 560px) {
    .mobile-cards{
        display: none;
    }

    .main_container-cards {
        padding: 60px 20px 0px;
    }
}

.section_two_card-mobile{
    display: flex;
    flex-direction: row;
    background-color:white;
    width: auto;
    padding: 10px;
    box-shadow: 0 15px 30px rgb(95 118 151 / 20%);
    margin-bottom: 20px;
}

.section_two_card-mobile-lastchild{
    margin: 0;
}

.section_two-mobile > a{
    text-decoration: none;
}

.image-mobile{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: 10px;
}

.title-mobile{
    font-size: 17px;
    color: #5C5C5C;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: none;
}

.description-mobile{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #5C5C5C;
    
}

.cursor-image{
    width: 24px;
    height: 24px;
    opacity: 0.08;
}


/* desktop cards-----------------------------------------------------------------*/

.desktop-cards{
    display: none;
}

@media only screen and (min-width: 560px) {

    .desktop-cards{
        display: block;
    }
}

.section_two{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around; /*IE*/
    justify-content: space-evenly;
}

.section_two-row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.section_two_link{
    padding: 12px 26px;
    text-align: center;
    background-color: #00A2D0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    box-shadow: 2px 1px 4px #000000;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section_two_link:hover{
    box-shadow: 1px 3px 10px #000000;
}

.section_two_card{
    display: flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 0 15px 30px rgb(95 118 151 / 20%);
    transition: all .1s linear;
    border-radius: 3px;

    padding: 20px;
    width: 30%;
    margin-bottom: 60px;
}

.section_two_card>.title {
    font-size: 17px;
    text-rendering: auto;
    color: #5C5C5C;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;

    
}

.section_two_card>.description{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #5C5C5C;
    margin-bottom: 20px;
}

.section_two_card>a{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5C5C5C;
    background-color:#7AEECA ;
    border-radius: 20px;
    padding: 12px 12px;
    text-decoration: none;
    width: auto;
    align-self: center;

}



.section_two_card:hover:not(.no-hover) {
    transform: scale(1.03);
}

.section_two_card>img{
    margin-bottom: 20px;
    width: auto;
    max-height: 160px;
}

@media only screen and (min-width: 760px) {
    

    .section_two_card>.title {
        font-size: 18px;

    }

    .section_two_card>.description{
        font-size: 16px;
        margin-bottom: 20px;
        -ms-interpolation-mode: bicubic;
    }

    .section_two_card>a{
        
        font-size: 18px; 
        border-radius: 20px;
        padding: 14px 16px;
    
    }
}


@media only screen and (min-width: 1050px) {

    .main_container-cards{
        margin: auto;
        padding: 80px 20px 20px;
    }

    .section_two_card{    
        width: 240px;
        padding: 30px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .section_two_card>.title {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin-bottom: 20px; 
    }

    .section_two_card>.description{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .section_two_card>a{
        
        font-size: 18px; 
        border-radius: 20px;
        padding: 16px 18px;
    
    }
}


@media only screen and (min-width: 700px) {

    .section_two{
        max-width: 1240px;
        margin: auto;
    }

    .section_two-row{
        flex-direction: row;
    }

    .section_two-row:first-child{
        margin-bottom: 40px;
    }

    .section_two_link{
        width: 140px;
        padding: 16px 30px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .section_two_link{
        width: 200px;
        padding: 20px 30px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }
}
