body, html {
    height: 100%;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/light-of-Christ.jpg");
    
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;

    transform: translate3d(0px, 0px, 0px) scale(1.1, 1.1);
    transform-origin: 0% 0% 0px;
}

.header_content_test{
    /*border-bottom: 1px solid white;*/
    
}

.page_title-test{
  
        font-family: 'Lato', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-align: right;
        line-height: 2;
        color: #ffffff;
        
        font-family: 'Balsamiq Sans', cursive;
        position: relative;
        top: 400px;
        right: 300px;
       

}