.svjedocanstva-text{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #5C5C5C;

    margin: 30px 0;

    /* margin-right: 40px;  */
}


.svjedocanstva-text>.bible-verse-title {
    display: flex;
    align-items: center;
    margin: 0 0 8px;
}

.svjedocanstva_text_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}

.svjedocanstva_btn{
    color: #5C5C5C;
    background-color: #7AEECA;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;

    font-size: 18px;
    border-radius: 20px;
    padding: 16px 18px;
}

.svjedocanstva_btn:hover{
    box-shadow: 1px 3px 10px #000000;
}

@media only screen and (min-width: 600px) {

    .svjedocanstva-text{
  
        font-size: 18px;
        margin: 30px 0;
        max-width: 850px;
    
        /* margin-right: 40px;  */
    }

    .svjedocanstva_btn{

        width: 220px;
        margin-left: auto;
        margin-right: 40px;
    }
}

@media only screen and (min-width: 700px) {

    .svjedocanstva-text{
  
        font-size: 18px;
        margin: 50px 0;
    
        /* margin-right: 40px;  */
    }
}

@media only screen and (min-width: 1270px) {

    .svjedocanstva-text{
  
        margin: 0 26px 0 0;
    }

    .svjedocanstva_btn{

       
        margin-left: 6px;
        margin-right: auto;
    }

    .svjedocanstva_text_btn{

        margin: unset;
    }
}

